{{range $renderedStreamMessage := .}}
  <turbo-stream
    action="{{$renderedStreamMessage.Action}}"
    {{if $renderedStreamMessage.Targets}}
      targets="{{$renderedStreamMessage.Targets}}"
    {{else if gt (len $renderedStreamMessage.Target) 0}}
      target="{{$renderedStreamMessage.Target}}"
    {{end}}
  >
    {{if gt (len $renderedStreamMessage.Rendered) 0}}
      <template>
        {{$renderedStreamMessage.Rendered}}
      </template>
    {{end}}
  </turbo-stream>
{{end}}
